
{% apply inky_to_html | inline_css(source('@styles/foundation-email.css'),source('@styles/mail.css')) %}
    <spacer size="16"></spacer>

    <container>
      <row class="header">
        <columns>
          <h1 class="text-center title">{{ 'main.site.name' | trans }}</h1>
        </columns>
      </row>
      <row>
        <columns>

          <spacer size="24"></spacer>

          <h1 class="text-center">{{ 'mail.security.password_reset_request.hero' | trans }}</h1>

          <spacer size="16"></spacer>

          <p class="text-center">{{ 'mail.security.password_reset_request.subtitle' | trans }}</p>
          <button class="large expand" href="{{ absolute_url(path('security_password_reset', {'token': resetToken})) }}">Reset Password</button>

          <hr/>

          <p class="text-center"><small>{{ 'mail.security.password_reset_request.not_visible' | trans({'%url%': absolute_url(path('security_password_reset', {'token': resetToken})) }) }}</small></p>
        </columns>
      </row>

      <spacer size="16"></spacer>
    </container>
{% endapply %}
