{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.security.password_reset_request.title' | trans }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit">{{ 'pages.security.password_reset_request.form.submit' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}
