{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.security.password_reset.title' | trans }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit">{{ 'pages.security.password_reset.form.submit' | trans }}</button>
        {{ form_errors(form) | trans }}
    {{ form_end(form) }}
{% endblock %}
