<div{{ attributes }} class="relative flex flex-col justify-center h-screen w-full md:w-10/12 xl:w-8/12 z-10">
    <h1 class="mx-auto font-display text-3xl text-center font-medium tracking-tight text-slate-800 sm:text-7xl mb-8">
        {{ 'hero.h1.first' | trans }} <span class="font-semibold text-red-800 italic">{{ 'hero.h1.second' | trans }}</span> {{ 'hero.h1.third' | trans }} <span class="font-semibold text-green-800 italic">{{ 'hero.h1.fourth' | trans }}</span>
    </h1>
    <h2 class="mx-auto font-display text-2xl text-center font-medium tracking-tight text-slate-800 sm:text-5xl flex items-center justify-center gap-3 leading-normal flex-wrap">
        <div class="leading-normal">{{ 'hero.h2.start' | trans }}</div>

        <div class="hero__select group">
            <div>{{ this.verb | trans }}</div>
            {% for verb in this.available_verbs %}
                {% if this.verb != verb %}
                    <button class="hero__select__option" {{ live_action("changeVerb", {verb: verb})}}>{{ verb | trans }}</button>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="hero__select group">
            <div>{{ this.subject | trans }}</div>
            {% for subject in this.available_subjects %}
                {% if this.subject != subject %}
                    <button class="hero__select__option" {{live_action("changeSubject", {subject: subject} )}}>{{ subject | trans }}</button>
                {% endif %}
            {% endfor %}
        </div>

        <button class="button button-green h-[70%] mt-3 ml-8" {{live_action("callToAction")}}><span>{{ include('includes/icons/_chevron_right.html.twig') }}</span>{{ 'hero.call-to-action.go' | trans }}</div>
    </h2>

</div>
